*, *:before, *:after {
  box-sizing: border-box;
}

h2 {
  padding-left: 10px;
  color: #1669D2;
  font-weight:400; 
}

.App-header img {
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.App-header li {
  color: white;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

table {
  width: 85vw;
}

table, th, tr {
  border: 1px solid gray;
}

th, td {
  padding: 10px;
}

tr.border_bottom td {
  border-bottom: 1px solid gray;
}

.container {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 12px;
}

table a {
  text-decoration: none;
  color: black;
}

table a:hover {
  color: #1669D2;
}

input {
  background-color: #000000;
  border: 1px solid gray;
}

::placeholder {
  color: white;
}